body,html{
  height: 100%;
  font-family: "Microsoft YaHei", "微软雅黑", "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", Arial, sans-serif;
}
#app{
  height: 100%;
}
*{
  box-sizing: border-box;
}
/*layout自定义样式*/
.el-container{
  height: 100%;
}
.el-header {
  background-color: #101421;
  color: #909090;
  line-height: 60px;
  text-align: right;
}
.el-aside {
  position: relative;
  background-color: #191d2a;
  text-align: center;
  overflow: hidden;
}
.el-main {
  background-color: #060b17;
  color: #333;
  text-align: center;
  padding: 0;
}
/*左侧导航颜色*/
.el-menu-item, .el-submenu__title{
  height: 40px;
  line-height: 40px;
}
.el-container .el-aside .el-menu i{
  margin-right: 10px;
}
.el-submenu .el-menu-item{
  height: 40px;
  line-height: 40px;
}
/*.el-container .el-aside .el-menu .is-active i{*/
  /*color: #2c97fb;*/
/*}*/
/*.el-menu-item.is-active{*/
  /*color: #2c97fb;*/
/*}*/
.el-container .el-aside .el-menu .el-menu-item.is-active {
  background-color: #060b17 !important;
}
/*.el-menu-item{*/
  /*padding: 0 50px !important;*/
/*}*/
/*改变el-input默认样式*/
.el-input .el-input__inner{
  background-color: #24304A;
  border-radius: 20px;
  color: #fff;
}
.el-input__inner{
  border: 1px solid #323c54;
}
.el-input__prefix{
  left: 15px;
  border-right: 1px solid #323c54;
  padding-right: 5px;
}
.el-input--prefix .el-input__inner{
  padding-left: 50px;
}
.el-input__inner:focus{
  border-color:#2c97fb;
}
.el-input__inner:focus + .el-input__prefix{
  border-right: 1px solid #2c97fb;
}
.el-input__inner:hover{
  border-color:#2c97fb
}
.el-input__inner:hover + .el-input__prefix{
  border-right: 1px solid #2c97fb;
}
/*更改el-input size为small的默认样式*/
.el-input--small .el-input__inner{
  height: 26px;
  line-height: 26px;
  font-size: 12px;
}
.el-input--small .el-input__icon{
  line-height: 26px;
}
/*更改el-select size为small的默认样式*/
.el-select.el-select--samll .el-input__inner, .el-select.el-select--samll .el-input__icon{
  height: 26px;
  line-height: 26px;
  font-size: 12px;
}
.el-select.el-select--samll .el-input.is-focus .el-input__inner{
  border-color:#2c97fb
}
.el-select.el-select--samll .el-input .el-input__inner:hover{
  border-color:#2c97fb
}
.el-select-dropdown{
  background-color: #24304A;
  border: 1px solid #323c54;
}
.el-select-dropdown__item.hover, .el-select-dropdown__item:hover{
  background-color: #2F4062;
  color: #2c97fb;
}
.el-picker-panel{
  background-color: #24304A;
  border: 1px solid #323c54;
}
.el-picker-panel__icon-btn{
  color: #eee;
}
.el-popper[x-placement^=bottom] .popper__arrow::after{
  border-bottom-color: #24304A;
}
.el-popper[x-placement^=bottom] .popper__arrow{
  border-bottom-color: #323c54
}
.el-popper[x-placement^=top] .popper__arrow::after{
  border-top-color: #24304A;
}
.el-popper[x-placement^=top] .popper__arrow{
  border-top-color: #323c54
}
/*改变el-button圆角默认样式*/
.el-button.is-round{
  padding: 5px 15px;
}
.el-button--text{
  padding: 0;
}
/*修改table默认样式*/
.el-table{
  background-color: #182337;
}
.el-table--border, .el-table--group{
  border: 1px solid #323c54;
}
.el-table thead{
  color: #eee;
}
.el-table th, .el-table tr{
  background-color: #182337;
}
.el-table td, .el-table th.is-leaf{
  border-bottom: 1px solid #323c54;
}
.el-tooltip__popper.is-dark{
  max-width: 300px;
  background-color: #eee;
  line-height: 20px;
  color: #182337;
  white-space: normal;
  word-break: break-word;
}
.el-table .customize-header-row th {
  background-color: #182337;
}
.el-table__row.customize-row>td {
  color: #828282;
  background: #24304A;
}
.el-table--border td, .el-table--border th, .el-table__body-wrapper .el-table--border.is-scrolling-left~.el-table__fixed{
  border-right: 1px solid #323c54;
}
.el-table--enable-row-hover .el-table__body tr:hover>td {
  background-color: #2F4062;
}
.el-table--border::after, .el-table--group::after, .el-table::before{
  background-color: transparent;
}
/*分页默认样式修改*/
.el-pagination .btn-next, .el-pagination .btn-prev{
  background-color: #24304A;
}
.el-pagination button:disabled{
  background-color: #2F4062;
}
.el-pager li{
  background-color: #24304A;
}
/*confirm默认样式修改*/
.el-message-box{
  background-color: #2b354b;
  border: 1px solid #323c54;
}
.el-message-box__title{
  color: #fff;
}
.el-message-box p{
  color: #fff;
}
/*dialog默认样式修改*/
.el-dialog{
  background-color: #182337;
  border: 1px solid #323c54;
}
.el-dialog__title{
  color: #fff;
  font-size: 16px;
}
.el-dialog__headerbtn .el-dialog__close{
  color: #fff;
}
.el-dialog__headerbtn .el-dialog__close:hover{
  color: #fff;
}
.el-dialog__footer{
  text-align: center;
}
